html
  head
    title Shopping Plan App
    link(rel='stylesheet', href='/static/css/style.css')
    script(defer, src='/static/scripts/dmp.js')

main
  // THIS IS WHERE THE DINNER MENU PLANNING PAGE BEGINS
  .dmpContainer(data-js-dmp-display='')
    // HEADER AND NAV FOR DMP PAGE
    .dmpContainerHeader
      header(data-js-dmp-header='')
        h1.pageHeader Dinner Plan
        // DMP NAVIGATION LINKS
        nav
          ul#testItem.navList
            li.navListItem(data-js-nav-to-dinner='' tabindex='0')
              | Dinner Plan
            li#navListSeparator.navListItem(data-js-nav-to-shopping-list='' tabindex='0')
              | Shopping List
            li#navListSeparator.navListItem(data-js-nav-to-dashboard='' tabindex='0')
              | Dashboard
            li#navListSeparator.navListItem(data-js-nav-to-logout='' tabindex='0')
              | Logout
    // dinnerWrapper ==> THE GRID STRUCTURE FOR DMP PAGE
    .dinnerWrapper
      // DAYS OF THE WEEK CONTENT BEGINS
      each day in currentUserDOTW
        div.daysOfTheWeek.dotwToolTip=day


      //.daysOfTheWeek.dotwToolTip(data-js-dotw='day1')
      //.daysOfTheWeek.dotwToolTip(data-js-dotw='day2')
      //.daysOfTheWeek.dotwToolTip(data-js-dotw='day3')
      //.daysOfTheWeek.dotwToolTip(data-js-dotw='day4')
      //.daysOfTheWeek.dotwToolTip(data-js-dotw='day5')
      //.daysOfTheWeek.dotwToolTip(data-js-dotw='day6')
      //.daysOfTheWeek.dotwToolTip(data-js-dotw='day7')
      // DMP MENU ITEM CONTENT BEGINS
      .menuBox(data-js-menu-box-1='' data-js-droppable='day1')
        .listContainer
          .allMenuItems.mainDish(data-js-main='day1')
          // LIST OF MENU ITEMS - DAY 1
          div
            ul.sidesList
              li.allMenuItems.sidesListItems(data-js-side1='day1')
              li.allMenuItems.sidesListItems(data-js-side2='day1')
              li.allMenuItems.sidesListItems(data-js-other='day1')
        // CONTAINER FOR NOTES LINK, EDIT BTN, AND DnD HANDLE - DAY 1
        .notesAndEdit
          .notesAndDrag
            .notesContainer(data-js-edit-notes='day1' tabindex='0')
              | Notes
              span.tooltiptext.allMenuItems(data-js-notes-span='day1')
            div
              img.dndIcon(src='/static/icons/move.png' alt='drag and drop icon' data-js-draggable='day1' draggable='true')
          div
            button.editBtn(data-js-edit-menu='day1')
      .menuBox(data-js-menu-box-2='' data-js-droppable='day2')
        .listContainer
          .allMenuItems.mainDish(data-js-main='day2')
          // LIST OF MENU ITEMS - DAY 2
          div
            ul.sidesList
              li.allMenuItems.sidesListItems(data-js-side1='day2')
              li.allMenuItems.sidesListItems(data-js-side2='day2')
              li.allMenuItems.sidesListItems(data-js-other='day2')
        // CONTAINER FOR NOTES LINK, EDIT BTN, AND DnD HANDLE - DAY 2
        .notesAndEdit
          .notesAndDrag
            .notesContainer(data-js-edit-notes='day2' tabindex='0')
              | Notes
              span.tooltiptext.allMenuItems(data-js-notes-span='day2')
            div
              img.dndIcon(src='/static/icons/move.png' alt='drag and drop icon' data-js-draggable='day2' draggable='true')
          div
            button.editBtn(data-js-edit-menu='day2')
      .menuBox(data-js-menu-box-3='' data-js-droppable='day3')
        .listContainer
          .allMenuItems.mainDish(data-js-main='day3')
          // LIST OF MENU ITEMS - DAY 3
          div
            ul.sidesList
              li.allMenuItems.sidesListItems(data-js-side1='day3')
              li.allMenuItems.sidesListItems(data-js-side2='day3')
              li.allMenuItems.sidesListItems(data-js-other='day3')
        // CONTAINER FOR NOTES LINK, EDIT BTN, AND DnD HANDLE - DAY 3
        .notesAndEdit
          .notesAndDrag
            .notesContainer(data-js-edit-notes='day3' tabindex='0')
              | Notes
              span.tooltiptext.allMenuItems(data-js-notes-span='day3')
            div
              img.dndIcon(src='/static/icons/move.png' alt='drag and drop icon' data-js-draggable='day3' draggable='true')
          div
            button.editBtn(data-js-edit-menu='day3')
      .menuBox(data-js-menu-box-4='' data-js-droppable='day4')
        .listContainer
          .allMenuItems.mainDish(data-js-main='day4')
          // LIST OF MENU ITEMS - DAY 4
          div
            ul.sidesList
              li.allMenuItems.sidesListItems(data-js-side1='day4')
              li.allMenuItems.sidesListItems(data-js-side2='day4')
              li.allMenuItems.sidesListItems(data-js-other='day4')
        // CONTAINER FOR NOTES LINK, EDIT BTN, AND DnD HANDLE - DAY 4
        .notesAndEdit
          .notesAndDrag
            .notesContainer(data-js-edit-notes='day4' tabindex='0')
              | Notes
              span.tooltiptext.allMenuItems(data-js-notes-span='day4')
            div
              img.dndIcon(src='/static/icons/move.png' alt='drag and drop icon' data-js-draggable='day4' draggable='true')
          div
            button.editBtn(data-js-edit-menu='day4')
      .menuBox(data-js-menu-box-5='' data-js-droppable='day5')
        .listContainer
          .allMenuItems.mainDish(data-js-main='day5')
          // LIST OF MENU ITEMS - DAY 5
          div
            ul.sidesList
              li.allMenuItems.sidesListItems(data-js-side1='day5')
              li.allMenuItems.sidesListItems(data-js-side2='day5')
              li.allMenuItems.sidesListItems(data-js-other='day5')
        // CONTAINER FOR NOTES LINK, EDIT BTN, AND DnD HANDLE - DAY 5
        .notesAndEdit
          .notesAndDrag
            .notesContainer(data-js-edit-notes='day5' tabindex='0')
              | Notes
              span.tooltiptext.allMenuItems(data-js-notes-span='day5')
            div
              img.dndIcon(src='/static/icons/move.png' alt='drag and drop icon' data-js-draggable='day5' draggable='true')
          div
            button.editBtn(data-js-edit-menu='day5')
      .menuBox(data-js-menu-box-6='' data-js-droppable='day6')
        .listContainer
          .allMenuItems.mainDish(data-js-main='day6')
          // LIST OF MENU ITEMS - DAY 6
          div
            ul.sidesList
              li.allMenuItems.sidesListItems(data-js-side1='day6')
              li.allMenuItems.sidesListItems(data-js-side2='day6')
              li.allMenuItems.sidesListItems(data-js-other='day6')
        // CONTAINER FOR NOTES LINK, EDIT BTN, AND DnD HANDLE - DAY 6
        .notesAndEdit
          .notesAndDrag
            .notesContainer(data-js-edit-notes='day6' tabindex='0')
              | Notes
              span.tooltiptext.allMenuItems(data-js-notes-span='day6')
            div
              img.dndIcon(src='/static/icons/move.png' alt='drag and drop icon' data-js-draggable='day6' draggable='true')
          div
            button.editBtn(data-js-edit-menu='day6')
      .menuBox(data-js-menu-box-7='' data-js-droppable='day7')
        .listContainer
          .allMenuItems.mainDish(data-js-main='day7')
          // LIST OF MENU ITEMS - DAY 7
          div
            ul.sidesList
              li.allMenuItems.sidesListItems(data-js-side1='day7')
              li.allMenuItems.sidesListItems(data-js-side2='day7')
              li.allMenuItems.sidesListItems(data-js-other='day7')
        // CONTAINER FOR NOTES LINK, EDIT BTN, AND DnD HANDLE - DAY 7
        .notesAndEdit
          .notesAndDrag
            .notesContainer(data-js-edit-notes='day7' tabindex='0')
              | Notes
              span.tooltiptext.allMenuItems(data-js-notes-span='day7')
            div
              img.dndIcon(src='/static/icons/move.png' alt='drag and drop icon' data-js-draggable='day7' draggable='true')
          div
            button.editBtn(data-js-edit-menu='day7')
    // DMP FOOTER CONTAINER - BTNS TO CHANGE START DAY AND CLEAR ITEMS
    .dmpContainerFooter
      footer.dmpFooterBtn
        button.btn(data-js-btn-reorder='') Change Starting Day
        button.btn(data-js-btn-clear='') Clear Menu Items
  // THIS IS WEHRE THE DINNER MENU PLANNING PAGE ENDS

// **** DINNER MENU PLAN (DMP) MODAL ****
#dmpModal.modal(data-js-dmp-modal='' tabindex='-1')
  .modalContent
    header.modalContentHeader
      h2(data-js-dmp-modal-header='')
    form.modalForm(action='')
      label.dmpModalLabel Main
      input.modalFormInput(type='text' data-js-input-one='main')
      p#mainDishHint.inputHint Enter a main dish here
      label.dmpModalLabel Side
      input.modalFormInput(type='text' data-js-input-two='side1')
      p#mainDishHint.inputHint Enter a side dish here
      label.dmpModalLabel Side
      input.modalFormInput(type='text' data-js-input-three='side2')
      p#mainDishHint.inputHint
        | Enter another side here, if you like
      label.dmpModalLabel Other
      input.modalFormInput(type='text' data-js-input-four='other')
      p#mainDishHint.inputHint
        | Enter miscellaneous items here, if you have any
      label.dmpModalLabel Notes
      textarea.modalFormInput(name='Notes' rows='3' cols='30' data-js-input-five='notes')
      p#mainDishHint.inputHint
        | Enter any notes you may want
      footer.modalContentFooter
        button.modalBtn(data-js-new-item-submit='') Enter
        button.modalBtn(data-js-dmp-modal-close='') Close

// MODAL BOX LAYOUT BEGINS HERE
// **** DOTW REORDER MODAL ****
.modal(data-js-reorder-modal='')
  // Modal content
  .modalContent.modalContentCentered
    header.modalContentHeader
      h2 Choose start day
    span.clickableDays Saturday
    span.clickableDays Sunday
    span.clickableDays Monday
    span.clickableDays Tuesday
    span.clickableDays Wednesday
    span.clickableDays Thursday
    span.clickableDays Friday
    footer.modalContentFooter
      button.modalBtn(data-js-reorder-modal-close='') Close
// **** CLEAR ALL MENU ITEMS MODAL ****
.modal(data-js-clear-modal='')
  // Modal content
  .modalContent.modalContentCentered
    header.modalContentHeader
      h2 Clear Menu
    p You Sure?!?
    footer.modalContentFooter
      button.modalBtn(data-js-clear-yes='') Yes
      button.modalBtn(data-js-clear-no='') No

// **** DINNER MENU PLAN (DMP) NOTES MODAL ****
.modal(data-js-notes-modal='')
  .modalContent
    header.modalContentHeader
      h2(data-js-dmp-notes-modal-header='')
    form.modalForm(action='')
      textarea.modalFormInput(name='Notes' rows='3' cols='30' data-js-input-notes='')
      p#mainDishHint.inputHint
        | Enter any notes you may want
      footer.modalContentFooter
        button.modalBtn(data-js-notes-submit='') Enter
        button.modalBtn(data-js-notes-modal-close='') Close
